<section id="profile">
    <div class="section-title">
        <span class="section-subheading text-muted">ABOUT ME</span>
    </div>
    <div class="section-body">
        <div class="profile-img">
            <img src="/assets/images/banners/profile.jpg" alt="">
        </div>
        <div class="profle-content">
            <div class="heading">Hello!</div>
            <div class="introduction">
                I'm backend developer Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum is simply dummy text of the printing and typesetting.
            </div>
        </div>
    </div>
</section>