<section id="profile">
    <div class="section-title">
        <p class="section-subheading text-muted">About Me</p>
    </div>
    <div class="section-body">
        <div class="profile-img">
            <img src="/assets/images/banners/profile.jpg" alt="">
        </div>
        <div class="profle-content">
            <p>Hello!</p>
            <p>I'm backend devloper Lorem Ipsum</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
    </div>
</section>