<section id="projects">
    <div class="section-title">
        <p class="section-subheading text-muted">Projects</p>
    </div>
    <div class="section-body">
        <div class="card">
            <div class="card_image card_image-sample"></div>
            <div class="card_content">
                <div class="card_title">Flex</div>
                <div class="card_text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </div>
            </div>
            <div class="card_footer">
                <div class="detail_button">
                    <a>See More Details</a>
                    <img src="assets/icons/chevron_right.svg">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image card_image-sample"></div>
            <div class="card_content">
                <div class="card_title">Flex</div>
                <div class="card_text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </div>
            </div>
            <div class="card_footer">
                <div class="detail_button">
                    <a>See More Details</a>
                    <img src="assets/icons/chevron_right.svg">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image card_image-sample"></div>
            <div class="card_content">
                <div class="card_title">Flex</div>
                <div class="card_text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </div>
            </div>
            <div class="card_footer">
                <div class="detail_button">
                    <a>See More Details</a>
                    <img src="assets/icons/chevron_right.svg">
                </div>
            </div>
        </div>
    </div>
</section>