<section id="projects">
    <div class="section-title">
        <p class="section-subheading text-muted">Projects</p>
    </div>
    <div class="section-body">
        <div class="card">
            <div class="card_image card_image-sample"></div>
            <div class="card_content">
                <div class="card_title">Flex</div>
                <p class="card_text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                <a href="#">See more details</a>
            </div>
        </div>
        <div class="card">
            <div class="card_image card_image-sample"></div>
            <div class="card_content">
                <div class="card_title">Flex</div>
                <p class="card_text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                <a href="#">See more details</a>
            </div>
        </div>
        <div class="card">
            <div class="card_image card_image-sample"></div>
            <div class="card_content">
                <div class="card_title">Flex</div>
                <p class="card_text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                <a href="#">See more details</a>
            </div>
        </div>
    </div>
</section>