<section id=timeline>
	<div class="section-title">
        <span class="section-subheading text-muted">Timeline</span>
    </div>
	<div class="section-body">
		{%- assign align = site.data.sitetext.timeline.start_align -%}
		{%- for event in site.data.sitetext.timeline.events -%}
			{%- if align == "right" -%}
				{%- assign align = "left" %}
				<div class="card card--step{{event.order}}">
					<div class="head right">
						<div class="image-contain">
							<img class="" src="{{event.image}}">
						</div>
					</div>
					<div class="date right">
						<span>{{event.year}}</span>
					</div>
					<div class="body right">
						<div class="title">
							<span>{{event.title}}</span>
						</div>
						<div class="seperator"></div>
						<p>{{ event.desc | markdownify }}</p>
					</div>
				</div>

			{% else %}
				{%- assign align = "right" %}
				<div class="card card--step{{event.order}}">
					<div class="head">
						<div class="image-contain">
							<img class="" src="{{event.image}}">
						</div>
					</div>
					<div class="date">
						<span>{{event.year}}</span>
					</div>
					<div class="body">
						<div class="title">
							<span>{{event.title}}</span>
						</div>
						<div class="seperator"></div>
						<p>{{ event.desc | markdownify }}</p>
					</div>
				</div>

			{%- endif -%}
		{% endfor %}
	</div>
	<div class="end"></div>
</section>