<section id=timeline2>
	<div class="section-title">
        <span class="section-subheading text-muted">Timeline</span>
    </div>
	<div class="section-body">
        
		<div class="card card--step1">
			<div class="head">
				<div class="image-contain">
					<img class="" src="assets/img/timeline/1.jpg">
				</div>
			</div>
			<div class="date">
				<span>2013.03</span>
			</div>
			<div class="body">
				<div class="title">
					<span>Lorem Ipsum Lorem Ipsum is simply</span>
				</div>
				<div class="seperator"></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an <strong><em>unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived</em></strong></p>
			</div>
		</div>

		<div class="card card--step2">
			<div class="head right">
				<div class="image-contain">
					<img class="" src="assets/img/timeline/1.jpg">
				</div>
			</div>
			<div class="date right">
				<span>2013.04</span>
			</div>
			<div class="body right">
				<div class="title">
					<span>Lorem Ipsum Lorem Ipsum is simply</span>
				</div>
				<div class="seperator"></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, <strong><em>remaining essentially</em></strong> unchanged.</p>
			</div>
		</div>

		<div class="card card--step3">
			<div class="head">
				<div class="image-contain">
					<img class="" src="assets/img/timeline/1.jpg">
				</div>
			</div>
			<div class="date">
				<span>2013.05</span>
			</div>
			<div class="body">
				<div class="title">
					<span>Lorem Ipsum Lorem Ipsum is simply</span>
				</div>
				<div class="seperator"></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but <strong><em>also the leap into electronic</em></strong> typesetting, remaining essentially</p>				
			</div>
		</div>

		<div class="card card--step4">
			<div class="head right">
				<div class="image-contain">
					<img class="" src="assets/img/timeline/1.jpg">
				</div>
			</div>
			<div class="date right">
				<span>2013.06</span>
			</div>
			<div class="body right">
				<div class="title">
					<span>Lorem Ipsum Lorem Ipsum is simply</span>
				</div>
				<div class="seperator"></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially Lorem Ipsum is simply dummy text.</p>
			</div>
		</div>

		<div class="card card--step5">
			<div class="head">
				<div class="image-contain">
					<img class="" src="assets/img/timeline/1.jpg">
				</div>
			</div>
			<div class="date">
				<span>2013.07</span>
			</div>
			<div class="body">
				<div class="title">
					<span>Lorem Ipsum Lorem Ipsum is simply</span>
				</div>
				<div class="seperator"></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially Lorem Ipsum is simply dummy text.</p>		
			</div>
		</div>
	</div>
	<div class="end"></div>
</section>