#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #1E2342;
    .section-title {
        text-align: center;
        margin-bottom: 56px;
        .section-subheading {
            font-size: 24px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.96px;
            color: #FFF;
        }
    }
    .section-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        .profile-img {   
            img {
                background: lightgray 50%;
                border: 1px solid #565967;
                width: 379px;
                height: 448px;
                border-radius: 7px;
                
            }
        }
        .profle-content {
            width: 50%;
            margin-left: 71px;
            
            .heading {
                color: #FFF;
                font-family: Bentham;
                font-size: 70px;
                font-weight: 400;
                line-height: 36px;
                margin-bottom: 80px;
                
            }
            .introduction {
                max-width: 500px;
                color: #FFF;
                font-family: Helvetica;
                font-size: 22px;
                font-weight: 400;
                line-height: 39.6px;
                
            }
        }
    }
    @include media-query(1024px) {
        padding: 40px 20px 60px 20px;
        .section-body {
            margin-left: 0px;
            flex-direction: column;
            .profile-img {   
                img {
                    width: 189px;
                    height: 224px;
                }
            }
            .profle-content {
                margin-left: 0px;
                width: 100%;
                .heading {
                    text-align: center;
                    font-size: 35px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
                .introduction {
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}