#projects {
    margin-top: 100px;
    margin-bottom: 180px;
    @include media-query(1024px) {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .section-title {
        text-align: center;
        margin-bottom: 30px;
        .section-subheading {
            font-size: 24px;
            font-weight: 600;
        }
    }

    .section-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        .card {
            background-color: white;
            width: 325px;
            box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.10);
            &:hover {
                box-shadow: 0px 0px 13px 4px rgba(0, 113, 227, 0.40);
            }
            @include media-query(1024px) {
                width: 300px;
            }
            @include media-query(600px) {
                width: 90%;
            }
            .card_content {
                background: var(--white, #FFF);
                border-radius: 10px 10px 0px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                z-index: 2;
                padding: 40px 28px 0px 28px;
                @include media-query(1024px) {
                    padding: 24px 20px 0px 20px;
                }
                .card_title {
                    color: var(--text-01, #222);
                    text-align: center;
                    /* HEL 28 */
                    font-family: Helvetica;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 28px;
                    @include media-query(1024px) {
                        font-size: 24px;
                        margin-bottom: 18px;
                    }
                }
                .card_text {
                    color: var(--text-02, #444);
                    /* HEL 16_24 */
                    font-family: Helvetica;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    @include media-query(1024px) {
                        width: 100%;
                        font-size: 14px;
                    }
                }
            }
            .card_footer {
                padding: 32px 28px 28px 28px;
                @include media-query(1024px) {
                    padding: 24px 20px 24px 20px;
                }
                .detail_button {
                    height: 49px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 104px;
                    background: #0071E3;
                    a {
                        color: var(--white, #FFF);
                        text-align: center;
                        font-family: Helvetica;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
            .card_image {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                position: relative;
                background-image: url(/assets/img/timeline/1.jpg);
                top: 20px;
                margin-top: -20px;
                &::before {
                    content: "";
                    display: block;
                    padding-top: 56.25%; // 16:9 aspect ratio
                }
            }
        }
    }
}