$items: 5;
$rows: ceil($items/2);
$container-height: $rows * 600px + 400px;

/* Placeholders */

%arrow {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 1px solid #CDD0DD;
}


/* Some Cool Stuff */

$counter: $items - $rows + 2;

@for $i from 1 through $rows {
  .card:nth-child(#{$i*2-1}) {
    order: $i
  }
  .card:nth-child(#{$i*2}) {
    order: $counter
  }
  $counter: $counter + 1;
}

@include media-query(1024px) {
  @for $i from 1 through $rows {
    .card:nth-child(#{$i*2-1}) {
      order: unset
    }
    .card:nth-child(#{$i*2}) {
      order: unset
    }
  } 
}

#timeline {
  margin-bottom: 140px;
  .section-title {
    text-align: center;
    margin-bottom: 40px;
    .section-subheading {
      color: #162A51;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.96px;
    }
  }

  .section-body {
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    width: 1050px;
    height: $container-height;
    margin: 0 auto;
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 2px solid #CDD0DD;
    }
    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      background-color: #CDD0DD;
      border-radius: 19px;
      left: 516px;
    }
  }

  .card {
    position: relative;
    display: block;
    z-index: 2;
    max-width: 390px;
    height: 510px;

    &:nth-child(odd) {
      left: -75px;
      margin: 128px 77px 45px 90px;
      .head::after {
        @extend %arrow;
        border-left-width: 120px;
        border-left-style: solid;
        left: 100%;
      }
    }

    &:nth-child(even) {
      margin: 128px 90px 45px 77px;
      left: 13px;
      .head::after {
        @extend %arrow;
        border-right-width: 120px;
        border-right-style: solid;
        right: 100%;
      }
    }

    &:nth-child(2) {
      margin-top: 300px;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      color: #fff;
      font-weight: 400;

      &.right {
        justify-content: flex-start;
      }

      .image-contain {
        width: 200px;
        height: 200px;
        img {
          width: 200px;
          height: 200px;
          border-radius: 100%;
        }
      }
    }

    .date {
      color: #E5F1FC;
      font-family: Poppins;
      font-size: 70px;
      font-weight: 800;
      line-height: 84px;
      margin-top: -72px;
      z-index: 999;
      position: relative;
      float: left;

      &.right {
        float: right;
      }
    }

    .body {
      padding: 28px 0;
      height: 425px;

      &.right {
        padding-left: 59px;

        p {
          padding-right: 0px;
        }
      }

      .title {
        width: 250px;
        color: #222;
        font-size: 26px;
        font-weight: 700;
        line-height: 36.4px;
      }

      .seperator {
        margin-top: 28px;
        margin-bottom: 30px;
        width: 48px;
        height: 2px;
        background: #444;
      }

      p {
        padding-right: 50px;
        color: #444;
        font-size: 16px;
        font-weight: 300;
        line-height: 28.8px;
        strong {
          color: #444;
          font-size: 16px;
          font-weight: 700;
          line-height: 28.8px;
        }
      }
    }
  }
  .end {
    margin:auto;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #CDD0DD;
  }
  @include media-query(1024px) {
    margin-bottom: 70px;  
    .section-title {
      margin-bottom: 20px;
    }
    .section-body {
      flex-flow: column;
      width: 100%;
      height: 100%;
      &::after {
        left: 24px;
      }
  
      &::before {
        left: 16px;
      }
    }
  
    .card {
      height:100%;
      max-width: 100%;
      padding-right: 30px;
  
      &:nth-child(odd) {
        left: 0px;
        margin: 45px 0px 0px 55px;
        .head::after {
          left: -30px;
          border-left-width: 60px;
          z-index: -1;
        }
      }
  
      &:nth-child(even) {
        margin: 45px 0px 0px 55px;
        left: 0px;
        .head::after {
          left: -30px;
          border-right-width: 60px;
          z-index: -1;
        }
      }
  
      &:nth-child(2) {
        margin-top: 45px;
      }
  
      .head {
        justify-content: flex-start;
        .image-contain {
          width: 80px;
          height: 80px;
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
  
      .date {
        font-size: 50px;
        line-height: 0px;
        left: 28px;
        margin-top: -21px;
        &.right {
          float: left;
        }
      }
  
      .body {
        padding: 5px 0px 0px 30px;
        height: fit-content;
        &.right {
          padding: 5px 0px 0px 30px;
          height: fit-content;
        }
  
        .title {
          font-size: 20px;
          width: 100%;
        }
  
        .seperator {
          margin-top: 14px;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 14px;
          padding-right: 0px;
          strong {
            font-size: 14px;
          }
        }
      }
    }
    .end {
      margin: 0 0 0 15px;
    }   
  }
}