$items: 5;
$rows: ceil($items/2);
$container-height: $rows * 600px + 400px;

/* Placeholders */

%arrow {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 1px solid #CDD0DD;
}


/* Some Cool Stuff */

$counter: $items - $rows + 2;

@for $i from 1 through $rows {
  .card:nth-child(#{$i*2-1}) {
    order: $i
  }
  .card:nth-child(#{$i*2}) {
    order: $counter
  }
  $counter: $counter + 1;
}

@include media-query(1024px) {
  @for $i from 1 through $rows {
    .card:nth-child(#{$i*2-1}) {
      order: unset
    }
    .card:nth-child(#{$i*2}) {
      order: unset
    }
  } 
}

#timeline2 {
  margin-bottom: 140px;
  @include media-query(1024px) {
    margin-bottom: 70px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
    @include media-query(1024px) {
      margin-bottom: 20px;
    }

    .section-subheading {
      color: var(--text-03, #162A51);
      text-align: center;
      /* HEL 24 */
      font-family: Helvetica;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.96px;
    }
  }

  .section-body {
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    width: 1050px;
    height: $container-height;
    margin: 0 auto;
    @include media-query(1024px) {
      flex-flow: column;
      width: 100%;
      height: 100%;
    }

    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 2px solid #CDD0DD;

      @include media-query(1024px) {
        left: 24px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      background-color: #CDD0DD;
      border-radius: 19px;
      left: 516px;

      @include media-query(1024px) {
        left: 16px;
      }
    }
  }

  .card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    z-index: 2;
    max-width: 390px;
    height: 510px;
    margin: 90px;
    margin-top: 128px;
    margin-bottom: 45px;
    @include media-query(1024px) {
      height:100%;
      max-width: 100%;
      margin: 55px;
      padding-right: 30px;
    }

    &:nth-child(odd) {
      left: -75px;
      margin-right: 77px;
      @include media-query(1024px) {
        left: 0px;
        margin-top: 45px;
        margin-bottom: 0px;
        margin-right: 0px;
      }

      .head::after {
        @extend %arrow;
        border-left-width: 120px;
        border-left-style: solid;
        left: 100%;
        @include media-query(1024px) {
          left: -30px;
          border-left-width: 60px;
          z-index: -1;
        }
      }
    }

    &:nth-child(even) {
      margin-left: 77px;
      left: 13px;
      @include media-query(1024px) {
        margin-top: 45px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 55px;
        left: 0px;
      }

      .head::after {
        @extend %arrow;
        border-right-width: 120px;
        border-right-style: solid;
        right: 100%;
        @include media-query(1024px) {
          left: -30px;
          border-right-width: 60px;
          z-index: -1;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 300px;
      @include media-query(1024px) {
        margin-top: 45px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 55px;
      }
    }

    .head {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #fff;
      font-weight: 400;
      @include media-query(1024px) {
        justify-content: flex-start;
      }

      &.right {
        justify-content: flex-start;
      }

      .image-contain {
        width: 200px;
        height: 200px;
        @include media-query(1024px) {
          width: 80px;
          height: 80px;
        }

        img {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          @include media-query(1024px) {
            width: 80px;
            height: 80px;
          }
        }
      }
    }

    .date {
      color: var(--text-04, #E5F1FC);
      font-family: Poppins;
      font-size: 70px;
      font-style: normal;
      font-weight: 800;
      line-height: 84px;
      margin-top: -72px;
      z-index: 999;
      position: relative;
      float: left;

      &.right {
        float: right;
      }
      @include media-query(1024px) {
        font-size: 50px;
        line-height: 0px;
        left: 28px;
        margin-top: -21px;
        &.right {
          float: left;
        }
      }
    }

    .body {
      padding: 28px 0;
      height: 425px;

      &.right {
        padding-left: 59px;

        p {
          padding-right: 0px;
        }
      }

      .title {
        width: 250px;
        color: var(--text-01, #222);
        font-family: Helvetica;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 36.4px;
        /* 140% */
      }

      .seperator {
        margin-top: 28px;
        margin-bottom: 30px;
        width: 48px;
        height: 2px;
        background: #444;
        @include media-query(1024px) {
          margin-top: 14px;
          margin-bottom: 15px;
        }
      }

      p {
        padding-right: 50px;
        color: var(--text-02, #444);
        font-family: Helvetica;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28.8px;

        /* 180% */
        strong {
          color: var(--text-02, #444);
          font-family: Helvetica;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 28.8px;
        }
      }
      @include media-query(1024px) {
        padding: 5px 0px 0px 30px;
        height: fit-content;
  
        &.right {
          padding: 5px 0px 0px 30px;
          height: fit-content;
        }
        .title {
          font-size: 20px;
          width: 100%;
        }
        p {
          font-size: 14px;
          padding-right: 0px;
          strong {
            font-size: 14px;
          }
        }  
      }
    }
    
  }
  .end {
    margin:auto;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-color: #CDD0DD;
    @include media-query(1024px) {
      margin: 0 0 0 15px;
    }
  }  
}