#value {
    padding-top: 100px;
    padding-bottom: 120px;
    .section-title {
        text-align: center;
        margin-bottom: 40px;
        .section-subheading {
            color: var(--text-03, #162A51);
            text-align: center;
            /* HEL 24 */
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.96px;
        }
    }
    .section-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 24px;
        .value-row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            @include media-query(1024px) {
                flex-wrap: wrap;
            }
            .value {
                border: 1px solid var(--line-01, #CDD0DD);
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include media-query($on-palm) {
                    width: 90%;
                }
                .value-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 130px;
                    height: 130px;
                    background-color: var(--text-04, #E5F1FC);;
                    border-radius: 100%;
                    margin-top: 25px;
                    margin-bottom: 32px;
                    @include media-query($on-palm) {
                        margin-top: 20px;
                        margin-bottom: 16px;
                        width: 80px;
                        height: 80px;
                    }
                }
                .value-desc {
                    text-align: center;
                    margin-bottom: 25px;
                    @include media-query($on-palm) {
                        padding: 10px;
                        margin-bottom: 10px;
                    }
                    .value-desc-title {
                        color: var(--text-01, #222);
                        text-align: center;
                        /* HEL 22B */
                        font-family: Helvetica;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin-bottom: 24px;
                        @include media-query($on-palm) {
                            font-size: 18px;
                        }
                    }
                    .value-desc-content {
                        color: var(--text-02, #444);
                        text-align: center;
                        width: 90%;
                        margin: auto;
                        /* HEL 18 */
                        font-family: Helvetica;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28.8px; /* 160% */
                        @include media-query($on-palm) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}